<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 开启驼峰命名转换 form_id -> formId -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!-- MyBatis与Druid的整合 -->
            <dataSource type="com.minos.oa.datasource.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 使用mysql8.x必须要设置这两个参数characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai -->
                <property name="url" value="jdbc:mysql://localhost:3306/imooc-oa?characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="tangyang"/>
                <!-- Druid连接池的初始连接数量和最大连接数量 -->
                <property name="initialSize" value="10"/>
                <property name="maxActive" value="20"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/test.xml"/>
        <mapper resource="mappers/user.xml"/>
        <mapper resource="mappers/rbac.xml"/>
        <mapper resource="mappers/employee.xml"/>
        <mapper resource="mappers/department.xml"/>
        <mapper resource="mappers/leave_form.xml"/>
        <mapper resource="mappers/process_flow.xml"/>
        <mapper resource="mappers/notice.xml"/>
    </mappers>
</configuration>